Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

Ans

    *   - Expressions

    'hello' - Value (String)

      -87.8 - Value (Float)

        -   -  Expressions

     /      - Expressions

      +     - Expressions

      6     - Value (Integer)

-----------------------------------------------------------------------------------------------------------------

Q2. What is the difference between string and variable?

And: 
A variable is a name that can be refer to any value.
A String is a type of information you would store in a variable. strings are normally words enclosed with "".
For eg: s = "sahil josan"

Here s is variable and "sahil josan" is a string.

____________________________________________________________________________________________________________

Q3. Describe three different data types.?

Answer: Three different data types are 
1) List (list) - Lists are used to store multiple items in a single variable .

2) Tuple (tuple) - Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

3) Dictionary (dict) -  is a collection which is ordered and changeable. No duplicate members.

Example of list

In [1]:
l = [12, 254, 53.54, 1245.25, "sahil"]

In [2]:
type(l)

list

Example of tuple

In [3]:
t = (451, 547, 695, 124.57, "josan")

In [4]:
type(t)

tuple

Example of Dictionary

In [5]:
d = {45 : "my", "name" : "is", 124 : "sahil"}

In [6]:
type(d)

dict

_____________________________________

Q4. What is an expression made up of?

Ans: The expressions are made up of combinations of values and mathematical operators.

    - What do all expressions do?

Ans: All expressions combines the values and operators and evaluates down to a single value

For Eg: 12 + 5 = 17
Here 12 and 5 are integer values and + is mathematical operator. 
Expression 12 + 5 adds two integers and evaluates down to a single value 17.

_____________________________________________

Q5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Ans: 
An Expression always evaluates to a value.
A statement does something, like creating a variable or displaying a value.

For example : spam = 10 + 2 
Here 10 + 2 is an expression and spam = 10 + 2 is a statement.

_________________________________

Q6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

Ans : 23

_____________________________________

Q7. What should the values of the following two terms be?

In [8]:
Q7 = 'spam'+'spamspam'

In [10]:
Q7

'spamspamspam'

In [11]:
Q7 = 'spam'*3

In [12]:
Q7

'spamspamspam'

Ans of Q7 : Value of both terms is 'spamspamspam'

__________________________________________________________________________________________________________

Q8. Why is eggs a valid variable name while 100 is invalid?

Ans:
Eggs is a string means group of alphabets . and 100 is an integer.
we cannot give variable an integer name.
bt we can give e100 or eggs100 as an variable name. because it starts with an alphabet.

________________________________

Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans : int()
      float()
      str()

_____________________________________

10. Why does this expression cause an error? How can you fix it

'I have eaten '+ 99 +'burritos.'

Ans: This expression causes error because this string is enclosed with single inverted commas. it will execute if we enclose the string with double inverted commas like this.
"I have eaten'+ 99 +' burritos"

__________________________